body{
	font-family: 'Open Sans', sans-serif;
	line-height: 1.8;
}
	
*:focus{
	outline:0;
}

body a , body a:hover{
	text-decoration:none;
	transition:all ease 0.3s;
	-webkit-transition:all ease 0.3s;
	-ms-transition:all ease 0.3s;
	-o-transition:all ease 0.3s;
	-moz-transition:all ease 0.3s;
}

.row{
	align-items: center;
}
img{
	width:auto;
	max-width:100%;
}
.wrapper{
	width:100%;
	max-width:1264px;
	margin:0 auto;
	padding:0 15px;
}

header{
	padding:20px 0;
}

.text-center{
	text-align:center;
}

.text-left{
	text-align:left;
}

.text-right{
	text-align:right;
}

.spacer{
	padding:80px 0;
}
.text-black{
    color:#000  !important;
}
.text-white{
    color:#fff !important;
}
.subtitle{
    color:#969696
}
.text-large{
    font-size:70px !important;
}
.heading{
	text-align: center;
	position: relative;
	margin-bottom: 40px;
	padding-bottom: 15px;
	display: inline-block;
	font-family: 'Varela Round', sans-serif;
	font-weight: 600;
	letter-spacing: 0.8px;
}

.heading:after{
	content: '';
	position: absolute;
	bottom: 0;
	border: 2px solid;
	width: 44px;
	left: 0;
	right: 0;
	margin: auto;
	color: #396cf0;
}

.logo , .navigation{
	display:inline-block;
	vertical-align:middle;
	float:none;
}

.mobile-menu{
	display:none;
}

nav ul{
	margin-bottom:0;
}
nav li{
	display:inline-block;
	list-style-type:none;
	padding: 0px 10px;
	position:relative;
}

nav li a{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	display:inline-block;
	font-weight: 500;
	line-height: 24px;
	color: #111;
	text-transform: capitalize;
	font-style: normal;
	position:relative;
}

nav li a:after {
	position: absolute;
	left: 0;
	right: auto;
	top: auto;
	bottom: 0;
	border-bottom: 2px solid #02075d;
	width: 0;
	height: 2px;
	content: '';
	transition: all ease 0.3s;
}
nav li a:hover , nav li.active a{
	color:#02075d;
}

nav li a:hover:after , nav li.active a:after{
	right: 0;
	width: 100%;
}

.sub-menu {
	opacity:0;
	visibility:hidden;
	transition:all ease 0.2s;
	position: absolute;
    left: 0;
    text-align: left;
    border-bottom: 2px solid #02075d;
    min-width: 220px;
    padding:0;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.8);
	z-index: 9;
    background-color: #fff;
}

nav li:hover .sub-menu{
	opacity:1;
	visibility:visible;
}

.sub-menu ul{
	padding:0;
}

.sub-menu li {
    display: block;
    padding:0;
	border:0;
}

.sub-menu li a{
	transition:none;
	padding: 8px 12px;
	font-size:14px;
	display:block
}

nav li.active .sub-menu li a , nav li.active .sub-menu li a:after{
	border:0;
}

.sub-menu li:hover a{
	background: #02075d;
	color: #fff;
}


.site-btn{
	font-size: 19px;
	color: #fff;
	background: #f7941d;
	padding: 8px 18px;
	border-radius: 4px;
	margin: 20px 0;
	display: block;
	max-width: 180px;
	text-align: center;
	border:1px solid #f7941d;
}

.site-btn:hover{
	border-color: #f7941d;
	background-color: transparent;
	color: #f7941d;
}

.top-banner{
	position: relative;
	overflow: hidden;
	padding: 40px 0 20px;
}

.banner-img img{
	width:100%;
}

.banner-text{
	width: 58%;
	padding: 50px 50px 50px 0;
	float: left;

}

.banner-text h2 , .banner-text p{
	color:#000;
	font-size: 16px;
}

.banner-text h2{
	font-size: 42px;
	font-weight: 800;
	margin-bottom: 20px;
	line-height: 48px;
}

.banner-image{
	float:right;
	margin-right: 40px;
}

.banner-image img {
	max-width: 330px;
}

.chose-software.container-fluid.text-center {
	background: url(../images/software-bg.png);
	background-repeat: no-repeat;
	background-size: 56.6%;
	background-position: right;
}

.chose-software.container-fluid.text-center.about {
	background-size: 100% !important;
    width:95%;
	
}

.software-left img {
	width: 425px;
}

.software-right {
	color: #fff;
	padding: 50px;
	max-width: 600px;
	margin-left: 0;
}

.software-right h2 {
	font-size: 36px;
	font-weight: 800;
}

.software-right a.site-btn{
	margin-top:60px;
}

.latest-head {
	padding-bottom: 60px;
}

.latest-head h2 {
	font-weight: 700;
	font-size: 56px;
}

.grosh-title h2 {
	font-size: 49px;
	margin: 0;
	font-weight: 600;
}

footer{
	background-color: #fff;
}

.footer-upper{
	padding: 40px 0;
	background: #02075d;
}

footer .row{
	align-items: center;
}

footer ul{
	padding-left:0;
}

footer li{
	list-style-type:none;
	display:inline-block;
}

footer li a{
	font-size: 16px;
	color: #fff !important;
	padding: 0 10px;
}
/*contact Us*/
.contact-box{
    width:80%;
    margin:auto;
    -webkit-box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.16);
    min-height:300px;
}